<div class="container">
  <nav class="row">
    <div class="nav-wrapper">
      <span class="brand-logo center">{{config.title | uppercase}}</span>
    </div>
  </nav>

  <div class="row">
    <ng-container *ngIf="editMode; then editOff; else editOn"></ng-container>
    <ng-template #editOn>
      <button class="btn col s2 offset-s10" (click)="switchEditMode()">Dodaj zadanie</button>
    </ng-template>
    <ng-template #editOff>
      <button class="btn col s2 offset-s10" (click)="switchEditMode()">Zakończ</button>
    </ng-template>
  </div>

  <div class=" row" *ngIf="editMode">
    <input [(ngModel)]="taskName" class="col s8" type="text" placeholder="Dodaj zadanie i datę wykonania" />
    <input [(ngModel)]="taskDate" class="col s2 disabled" type="date" />
    <button [disabled]="taskName.length <= 3 || taskDate.length<=8" (click)="makeTask()" class="btn-floating">+</button>
  </div>

  <ul class="collection" *ngIf="tasks.length > 0; else noTask">
    <ng-container *ngFor="let task of tasks; let i=index" [ngSwitch]="task.done">
      <li class="collection-item row" *ngSwitchCase="false">
        <span class="col s10">{{i+1}}. {{task.name}} - {{task.deadline}}</span>
        <div class="col s2 right-align">
          <button (click)="deleteTask(task)" class="btn-floating btn-small red">
            <i class="material-icons">remove_circle</i>
          </button>
          <button (click)="checkDone(task)" class="btn-floating btn-small green ml-5">
            <i class="material-icons">check</i>
          </button>
        </div>
      </li>

      <li class="collection-item row" *ngSwitchCase="true">
        <span class="col done">{{task.name}}</span>
      </li>
    </ng-container>
  </ul>

  <ng-template #noTask>
    <h1>Dzisaj brak zadań!</h1>
  </ng-template>

  <h1 *ngIf="!(tasks.length === 0)"> zadań do wykonania: {{tasks.length }}</h1>

  <button (click)="tasks.length=0" [disabled]="tasks.length===0"
    class="btn red waves-effect waves-light">Wyczyść</button>

  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="container">
        {{config.date | date: 'yyyy'}} © {{config.footer}}
      </div>
    </div>
  </footer>
</div>